<?xml version="1.0" encoding="UTF-8"?>
<html 
  xmlns="http://www.w3.org/1999/xhtml" 
  xmlns:epub="http://www.idpf.org/2007/ops" 
  xmlns:py="http://genshi.edgewall.org/">
  <head>
    <title>${book.title}</title>
    <link href="css/style.css" type="text/css" rel="stylesheet"/>
  </head>

  <body>
    <py:def function="tocEntry(node)">
      <div class="tocEntry-${node.depth}"><a href="${node.href}">${node.title}</a></div>
      <py:for each="child in node.children">
      ${tocEntry(child)}
      </py:for>
    </py:def>

    <py:for each="child in book.getTocMapRoot().children">
    ${tocEntry(child)}
    </py:for>
  </body>
</html>
